.Book {
    display: flex;
    min-height: 110px;
}

@media screen and (max-width: 600px) {
    .Book {
        flex-direction: column;
    }

    .poster {
        flex: 1;
    }

    .content {
        flex: 7;
    }
}

img {
    width: 150px;
    display: block;
}

h3 {
    margin: 10px 10px;
}

p {
    margin-left: 10px;
}

button {
    text-transform: uppercase;
    height: 24px;
    font-size: 11px;
    font-weight: 600;
    background: #347ef2;
    border: none;
    color: white;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 10px;
}

button:focus {
    outline: none;
}

section h5 {
    margin: 0;
}

section p {
    line-height: 21px;
    margin: 0 10px 10px 0;
    text-align: justify;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(227, 227, 227, 1);
    background-color: #fff;
}

.poster {
    flex: 1;
}

.poster-detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 7;
}

.detail {
    margin: 0 10px;
    font-size: 0.8em;
    line-height: 25px;
    height: 100%;
}

.authors {
    font-style: italic;
}

.footer {
    height: 40px;
    width: 100%;
    padding: 5px 1px;
    box-sizing: border-box;
    border-top: 1px solid rgba(227, 227, 227, 1);
    display: flex;
    justify-content: space-between;
}

.footer p {
    margin-top: 0;
}
